body,
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: black;
    color: white;
}

html {
    scroll-behavior: smooth;
}

/* Estilo para el título h4 */
h4 {
    text-align: center;
    /* Centra el texto */
    margin-top: 50px;
    /* Margen superior */
    margin-bottom: 50px;
    /* Margen inferior */
}

/* Estilo para la línea horizontal */
hr {
    background-color: white;
    /* Color blanco */
    border: none;
    /* Sin borde */
    height: 2px;
    /* Altura de la línea */
}

.icon1 {
    text-align: center;
    color: white;
    background-color: #328998;
    margin-bottom: 10px;
}

.icon2 {
    text-align: center;
    color: white;
    background-color: #328998;
    margin-top: 10px;
    margin-bottom: 50px;
}

/* Líneas separadoras */

.container hr {
    width: 100%;
}

/* CARDS */

.card {
    margin: 0 20px;
    background-color: #328998;
}


.card-group {
    border: 1px black;
    margin-bottom: 100px;
}


.card-title {
    font-size: 16pt;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
}


.card-text {
    font-size: 12pt;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
}

.card:hover {
    background-color: goldenrod;
    color: black;
}


.card-img-top {
    padding: 2px;
}

/* Formulario */

.col-md-12 {
    margin-bottom: 20px;
    /* Agregar un margen inferior al formulario */
}

.form-container {
    margin-left: 120px;
    /* Márgen izquierdo */
    margin-right: 120px;
    /* Márgen derecho */
}

@media (max-width: 768px) {
    .form-container {
        margin-left: 25px;
        /* Ajusta el margen izquierdo en dispositivos más pequeños */
        margin-right: 25px;
        /* Ajusta el margen derecho en dispositivos más pequeños */
    }
}

/* Estilo para el botón enviar formulario */
.form-container button {
    margin-top: 10px;
    /* Ajusta el margen superior del botón */
    margin-bottom: 10px;
    /* Ajusta el margen inferior del botón */
}

/* FOOTER */

.footer {
    background-color: #328998;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.footer ul li {
    display: inline-block;
    margin-left: 10px;
}

.footer ul li:first-child {
    margin-left: 0;
}

.footer .logoText {
    text-decoration: none;
    color: inherit;
}

.footer ul li i {
    color: #ffffff;
    /* Color blanco */
    margin-right: 20px;
    /* Espacio entre los íconos */
}

/* Funcionalidad Navbar transparente y luego color sólido al bajar en la página */

.navbar {
    background-color: transparent !important;
    /* Color de fondo */
    transition: background-color 0.3s ease;
}

.navbar.opaque {
    background-color: #328998 !important;
}

.navbar.opaque .navbar-nav .nav-link,
.navbar.opaque .navbar-text {
    color: white !important;
}

/* Ocultar Sección Quien Somos con los párrafos en dispositivos pequeños */

@media (max-width: 767px) {
    .gone {
        display: none;
    }
}

@media (max-width: 767px) {

    #quienesSomos,
    #quienesSomos+.container hr {
        display: none;
    }
}